.ng-hide-block.ng-hide-add, .ng-hide-block.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}


// Scale
.animate-scale {
}
.animate-scale.ng-enter, .animate-scale.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.animate-scale.ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}
.animate-scale.ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}
.animate-scale.ng-leave {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}
.animate-scale.ng-leave-active {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}


.animate-fade {
}
.animate-fade.ng-enter, .animate-fade.ng-leave {
    position: absolute;
    left:0;
    top:0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.animate-fade.ng-enter {
    opacity: 0;
}
.animate-fade.ng-enter-active {
    opacity: 1;
}
.animate-fade.ng-leave {
    opacity: 1;
}
.animate-fade.ng-leave-active {
    opacity: 0;
}



.animate-h-scale {
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    opacity: 1;

    -webkit-transform:scale3d(1,1,1);
    -moz-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1);
}
.animate-h-scale.ng-hide {
    opacity: 0;

    -webkit-transform:scale3d(1,0,1);
    -moz-transform:scale3d(1,0,1);
    transform:scale3d(1,0,1);
}




// Right

.animate-in.ng-enter, .animate-in.ng-leave {
    position: absolute;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.animate-in.ng-enter {
    opacity: 0;
    -webkit-transform:translate3d(0, 100px, 0);
    -moz-transform:translate3d(0, 100px, 0);
    transform:translate3d(0, 100px, 0);
}
.animate-in.ng-enter-active {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.animate-in.ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.animate-in.ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, -100px, 0);
    -moz-transform:translate3d(0, -100px, 0);
    transform:translate3d(0,-100px, 0);
}




.animate-back.ng-enter, .animate-back.ng-leave {
    position: absolute;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.animate-back.ng-enter {
    opacity: 0;
    -webkit-transform:translate3d(0, -100px, 0);
    -moz-transform:translate3d(0, -100px, 0);
    transform:translate3d(0, -100px, 0);
}
.animate-back.ng-enter-active {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.animate-back.ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.animate-back.ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, 100px, 0);
    -moz-transform:translate3d(0, 100px, 0);
    transform:translate3d(0, 100px, 0);
}