.button {
    font-family: HelveticaNeue-Light;
    font-size: 2.4rem;
    color: #000000;
    line-height: 3.2rem;
    border-radius: 4px;
    background-image: -o-linear-gradient(-89deg, #FFFFFF 0%, #CECECE 100%);
    background-image: -moz-linear-gradient(-89deg, #FFFFFF 0%, #CECECE 100%);
    background-image: -ms-linear-gradient(-89deg, #FFFFFF 0%, #CECECE 100%);
    background-image: linear-gradient(-179deg, #FFFFFF 0%, #CECECE 100%);

    -moz-box-shadow:  0 2px 4px 0 rgba(0,0,0,0.33);
    box-shadow:       0 2px 4px 0 rgba(0,0,0,0.33);
}


.button.button-large {
    font-family: HelveticaNeue;
    border-radius: 8px;
    font-size: 2.8rem;
    line-height: 3.4rem;
}

.button.button-red {
    color: #FFFFFF;
    background-image: -o-linear-gradient(-89deg, #EE0000 0%, #BB0000 100%);
    background-image: -moz-linear-gradient(-89deg, #EE0000 0%, #BB0000 100%);
    background-image: -ms-linear-gradient(-89deg, #EE0000 0%, #BB0000 100%);
    background-image: linear-gradient(-179deg, #EE0000 0%, #BB0000 100%);
}

.button.button-blue {
    color: #FFFFFF;
    background-image: -o-linear-gradient(-89deg, #003399 0%, #002266 100%);
    background-image: -moz-linear-gradient(-89deg, #003399 0%, #002266 100%);
    background-image: -ms-linear-gradient(-89deg, #003399 0%, #002266 100%);
    background-image: linear-gradient(-179deg, #003399 0%, #002266 100%);
}


.button.button-inactive {
    background-image: -o-linear-gradient(-89deg, #454545 0%, #151515 100%);
    background-image: -moz-linear-gradient(-89deg, #454545 0%, #151515 100%);
    background-image: -ms-linear-gradient(-89deg, #454545 0%, #151515 100%);
    background-image: linear-gradient(-179deg, #454545 0%, #151515 100%);
    background-image: -o-linear-gradient(-89deg, #6D6D6D 0%, #939393 100%);
    background-image: -moz-linear-gradient(-89deg, #6D6D6D 0%, #939393 100%);
    background-image: -ms-linear-gradient(-89deg, #6D6D6D 0%, #939393 100%);
    background-image: linear-gradient(-179deg, #6D6D6D 0%, #939393 100%);
    -moz-box-shadow:    inset 1px 1px 11px 3px rgba(0,0,0,0.33);
    box-shadow:         inset 1px 1px 11px 3px rgba(0,0,0,0.33);
}