.button {
    font-family: $fontBase;
    font-size: 1.5rem;
    color: #000000;
    line-height: 2rem;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.9) 0%, rgba(221,221,221,0.9) 100%);
    background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.9) 0%, rgba(221,221,221,0.9) 100%);
    background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.9) 0%, rgba(221,221,221,0.9) 100%);
    background-image: linear-gradient(-179deg, rgba(255,255,255,0.9) 0%, rgba(221,221,221,0.9) 100%);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    -moz-box-shadow:  0 2px 4px 0 rgba(0,0,0,0.33);
    box-shadow:       0 2px 4px 0 rgba(0,0,0,0.33);
    &:hover {
        color: #000000;
        background-color: rgba(0,0,0,0);
    }
}

// .button.button-block {
//     display:block;
//     width:100%;
// }

.button.button-large {
    border-radius: 8px;
    font-size: 1.8rem;
    line-height: 6.4rem;
}
.button.button-squash {
    line-height: 1.5rem;
}

.button.button-red {
    color: #FFFFFF;
    background-image: -o-linear-gradient(-89deg, rgba(238,0,0,0.9) 0%, rgba(187,0,0,0.9) 100%);
    background-image: -moz-linear-gradient(-89deg, rgba(238,0,0,0.9) 0%, rgba(187,0,0,0.9) 100%);
    background-image: -ms-linear-gradient(-89deg, rgba(238,0,0,0.9) 0%, rgba(187,0,0,0.9) 100%);
    background-image: linear-gradient(-179deg, rgba(238,0,0,0.9) 0%, rgba(187,0,0,0.9) 100%);
}

.button.button-blue {
    color: #FFFFFF;
    background-image: -o-linear-gradient(-89deg, rgba(0,51,153,0.9) 0%, rgba(0,34,102,0.9) 100%);
    background-image: -moz-linear-gradient(-89deg, rgba(0,51,153,0.9) 0%, rgba(0,34,102,0.9) 100%);
    background-image: -ms-linear-gradient(-89deg, rgba(0,51,153,0.9) 0%, rgba(0,34,102,0.9) 100%);
    background-image: linear-gradient(-179deg, rgba(0,51,153,0.9) 0%, rgba(0,34,102,0.9) 100%);
}


.button.button-toggled {
    // background-image: -o-linear-gradient(-89deg, rgba(21,21,21,1) 0%, rgba(69,69,69,0.9) 100%);
    // background-image: -moz-linear-gradient(-89deg, rgba(21,21,21,1) 0%, rgba(69,69,69,0.9) 100%);
    // background-image: -ms-linear-gradient(-89deg, rgba(21,21,21,1) 0%, rgba(69,69,69,0.9) 100%);
    // background-image: linear-gradient(-179deg, rgba(21,21,21,1) 0%, rgba(69,69,69,0.9) 100%);
    background-image: -o-linear-gradient(-89deg, rgba(109,109,109,1) 0%, rgba(147,147,147,1) 100%);
    background-image: -moz-linear-gradient(-89deg, rgba(109,109,109,1) 0%, rgba(147,147,147,1) 100%);
    background-image: -ms-linear-gradient(-89deg, rgba(109,109,109,1) 0%, rgba(147,147,147,1) 100%);
    background-image: linear-gradient(-179deg, rgba(109,109,109,1) 0%, rgba(147,147,147,1) 100%);
    -moz-box-shadow:    inset 1px 1px 11px 3px rgba(0,0,0,0.33) !important;
    box-shadow:         inset 1px 1px 11px 3px rgba(0,0,0,0.33) !important;
    color:#FFFFFF;
}
.button.button-inactive {
    opacity:0.5;
}




.button-group {
    li:first-child .button {
        margin-right: 0;
        border:0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    li:not(:first-child):not(:last-child) .button {
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
        border:0;
        -moz-box-shadow:  2px 2px 4px 0 rgba(0,0,0,0.33);
        box-shadow:       2px 2px 4px 0 rgba(0,0,0,0.33);
    }
    li:last-child .button {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border:0;
        -moz-box-shadow:  2px 2px 4px 0 rgba(0,0,0,0.33);
        box-shadow:       2px 2px 4px 0 rgba(0,0,0,0.33);
    }
}

.autosuggest-container {
    position:absolute;
    z-index:1500;
    width: 460px;
    top: -4px;
    left: 6px;
}

.button.button-autosuggest {
    @extend .button.expand;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding-left:16px;
    &:first-child {
        border:0;
        border-radius: 0;
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
        border-radius: 0;
        border:0;
        -moz-box-shadow: none;
        box-shadow:      none;
    }
    &:last-child {
        border:0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -moz-box-shadow:  2px 2px 4px 0 rgba(0,0,0,0.33);
        box-shadow:       2px 2px 4px 0 rgba(0,0,0,0.33);
    }


    &:first-child {
        // border-top-left-radius: 4px;
        // border-top-right-radius: 4px;
    }
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}


input.button {
    text-transform: capitalize;
    text-align: left;
    padding-left:20px !important;
}

.flag-language {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 57px;
    width: 80px;
}

.flag-france {
    background-image: url("../media/icons/country/france.svg");
}
.flag-uk {
    background-image: url("../media/icons/country/uk.svg");
}
.flag-italy {
    background-image: url("../media/icons/country/italy.svg");
}
.flag-world {
    background-image: url("../media/icons/planets/earth38.png");
    background-size: auto 90%;
    box-shadow:none;
    line-height:1;
    margin-right: -20px;
    padding-right:0.5rem;
    padding-left:0.5rem;
}


.button.button-outline {
    box-shadow:none;
    color:#eee;
    background: none;
    line-height:1.4rem;
    font-size:1.2rem;
    padding-right:1rem;
    padding-left:1rem;
    border-left: 0px solid #ccc;
    border-top:0;
    border-radius:0;
    &:last-of-type {
        border-right: 0px solid #ccc;
    }
}
