@import '../components/foundation/scss/normalize';
@import '../components/foundation/scss/foundation';

$screenWidth: 1024px;
$screenHeight: 768px;

@import 'typography';
@import 'buttons';
@import 'animations';
@import '../app/ticket/ticket';
@import '../app/main/main';
@import '../components_custom/onscreen-keyboard/onscreen-keyboard';

body {
    font-family: HelveticaNeue-Light;
    width:100%;
    height:100%;
    min-width:$screenWidth;
    min-height:$screenHeight;
    background:#272829;
    color:white;
}

:focus { outline:none; }
