@import '../components/foundation/scss/normalize';
@import '../components/foundation/scss/foundation';
@import 'typography';
@import 'buttons';
@import 'animations';
@import '../app/ticket/ticket';
@import '../components_custom/onscreen-keyboard/keyboard';

$screenWidth: 1024px;
$screenHeight: 768px;

body {
    font-family: HelveticaNeue-Light;
    width:100%;
    height:100%;
    min-width:$screenWidth;
    min-height:$screenHeight;
    background:#272829;
    color:white;
}

main {
    display: block;
    position: absolute;
    width:$screenWidth;
    height:$screenHeight;
    top:50%;
    left:50%;
    margin:-384px 0 0 -512px;
    background:url('../media/moods/sbb_bombardier.png');
    background-size:cover;
}


header.sbb-header {
    margin-top: 18px;
    height:19px;
    background:url('../media/Logo_SBB_weiss_transparent.png') no-repeat;
    background-position: center right;
    background-size:auto 19px;

    span[clock] {
        text-align: center;
        display: block;
        width: 100%;
        line-height: 19px;
        @extend .text-shadow;
    }
}