<footer class="sbb-footer show-fade ng-hide-block" ng-class="{'transparent': state.flags}" ng-show="state.stop || !!state.back || !!state.next || state.flags || state.help">
    <nav class="row">
        <div class="small-4 columns">
            <a class="button button-red button-squash show-fade" ng-show="state.stop" ng-click="$state.go('root.main')">Stop</a>
            <a class="button button-blue button-squash show-fade" ng-show="!!state.back" ng-click="$state.go(state.back)">Zurück</a>
        </div>
        <div class="small-12 right columns" ng-show="state.flags">
            <!-- <div class="button button-squash button-outline">Italiano</div>
            <div class="button button-squash button-outline">English</div>
            <div class="button button-squash button-outline">Français</div> -->
            <!-- <div class="button button-squash button-outline">&nbsp;</div> -->
            <a class="button button-blue button-squash show-fade">?</a>
            <div class="right flags-container">
                <div class="button button-squash button-outline"> Willkommen </div>
                <div class="button button-squash button-outline"> Welcome </div>
                <div class="button button-squash button-outline"> Bienvenu </div>
                <div class="button button-squash button-outline"> Benvenuti </div>
                <div class="button flag-language flag-world">&nbsp;</div>
            </div>
        </div>
        <div class="small-3 columns right">
            <a class="button button-red button-squash show-fade right" ng-show="!!state.next" ng-click="$state.go(state.next)">Weiter</a>
        </div>
    </nav>
</footer>