<footer class="sbb-footer show-fade ng-hide-block" ng-show="state.stop || !!state.back || !!state.next || state.flags || state.help">
    <nav class="row">
        <div class="small-4 columns">
            <a class="button button-red button-squash show-fade" ng-show="state.stop" ng-click="$state.go('root.main')">Stop</a>
            <a class="button button-blue button-squash show-fade" ng-show="!!state.back" ng-click="$state.go(state.back)">Zurück</a>
        </div>
        <div class="small-5 columns" ng-show="state.flags">
            <div class="button button-squash flag-language flag-italy">&nbsp;</div>
            <div class="button button-squash flag-language flag-uk">&nbsp;</div>
            <div class="button button-squash flag-language flag-france">&nbsp;</div>
            <div class="button button-squash flag-language flag-world">&nbsp;</div>
        </div>
        <div class="small-3 columns right">
            <a class="button button-red button-squash show-fade right" ng-show="!!state.next" ng-click="$state.go(state.next)">Weiter</a>
        </div>
    </nav>
</footer>