<div class="button-group">
    <li class="small-9">
        <div keyboard>
            <input class="button expand" ng-class="{'button-inactive': isActive == true}" ng-model="ticket.from.text" readonly="true" />
        </div>
    </li>
    <li class="small-3">
        <div class="button button-red">ändern</div>
    </li>
</div>
<div class="button-group">
    <li class="small-9">
        <div keyboard>
            <input class="button expand" ng-class="{'button-inactive': isActive == true}" ng-model="ticket.to.text" placeholder="…" readonly="true" />
        </div>
    </li>
    <li class="small-3">
        <div class="button button-red">ändern</div>
    </li>
</div>