<a class="button button-red" ui-sref="root.ticket.via">weiter</a>

<div class="button-group">
    <li>
        <div keyboard>
            <input class="button" ng-class="{'button-inactive': isActive == true}" ng-model="ticket.from.text" readonly="true" />
        </div>
    </li>
    <li><div class="button button-red">ändern</div></li>
</div>
<div class="button-group">
    <li>
        <div keyboard>
            <input class="button" ng-class="{'button-inactive': isActive == true}" ng-model="ticket.to.text" readonly="true" />
        </div>
    </li>
    <li><div class="button button-red">ändern</div></li>
</div>