.ticket--content {
    width:94%;
    position: absolute;
    left: 36px !important;
    top: 18px !important;
}

.ticket--sidebar {
    background: rgba(0,0,0,0.50);
    -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
    box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
    position:absolute;
    top:-46px;
    width: 100%;
    height: $screenHeight - 64px - 13px;
}

.ticket-sidebar {
    &--step {
        line-height: 1.4em;
        font-family: HelveticaNeue-Light;
        width:100%;
        padding: 0 20px;

        &.active {
            background: rgba(215,215,215,0.20);
            padding-top: 20px;
            padding-bottom: 20px;
            hr.separator {
                display:none
            }
        }
    }
    &--titel {
        font-size:1.4rem;
        text-shadow: none;
        margin-top: 19px;
        margin-bottom: -4px;
    }
}

hr.separator {
    border-top: 1px solid;
    border-top-color: rgba(255, 255, 255, 0.4);
}

.ticket-label-left {
    text-align: right;
    padding: 0px;
}

.ticket-label-right {
    text-align: left;
}

.ticket-highlight {
    font-family: HelveticaNeue-Medium;
}


.row.info-row {
    width:96%;
    margin-left:2%
}