<div ng-init="selectVia('Weinfelden')"></div>
<!-- <a class="button button-red small-12" ng-click="selectVia(true); next()"><b>direkt</b></a> -->
<a class="button button-red small-12" ng-click="selectVia(true); next()">Direkte Verbindung</a>
<!-- <a class="button button-red small-12" ng-click="selectVia(true); next()"><b>direkte Verbindung</b></a> -->
<a class="button button-red small-12" ng-click="selectVia('Weinfelden'); next()">Weinfelden</a>
<br>
<a class="button expand small-12">anderer Reiseweg</a>
