<div ng-init="selectVia('Weinfelden')"></div>
<h4>Verbindungen</h4>
<a class="button button-red  expand" ng-click="selectVia(true); next()">Direkte Verbindung</a>
<a class="button expand" ng-click="selectVia('Weinfelden'); next()">Via Weinfelden</a>
<a class="button expand" ng-click="selectVia('Schaffhausen'); next()">Via Schaffhausen</a>
<a class="button expand" ng-click="selectVia('Winterthur – Stein am Rhein'); next()">Via Winterthur – Stein am Rhein</a>
<a class="button expand" ng-click="selectVia('Schaffhausen – Singen – Konstanz'); next()">Via Schaffhausen – Singen – Konstanz</a>
<br><br><br> <!-- "temporary" spacing -->
<h4>Optionen</h4>
<a class="button expand">Anderer Reiseweg</a>
<!--  <button class="button" ng-click="open()">Open me!</button> -->