
.button-key-k {
    @extend .button.button-blue;
}

.button {
	margin: 4px;
}

li {
    list-style: none;
}

#keyboardCapitalLetter {
	border: 0px;
    margin: 0.625rem auto 0.5rem;
}

#keyboard{
    margin: 0 auto;
    display:block;
   	text-align: right;
 }

#onscreen-keyboard {
    position:absolute;
 	width: 1024px;
    bottom:0;
    z-index:10000;
 }

.key {
	min-width: 20px;
}

#keyboard:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

#keyboardHeader {position:relative;}
#keyboardHeader div {color:#fff; padding:3px; padding-left:10px; padding-right:10px; position:absolute; cursor:pointer; right:-10px; top:-40px;}

#onscreen-keyboard {
	position:absolute;
	background-color: rgba(0, 0, 0, 0.8);
}

td {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	padding-left: 27px !important;
	padding-right: 27px !important;
}

table, tr, .jsKeyboardRow {
	background: rgba(0, 0, 0, 0.0) !important;
	background-color: rgba(0, 0, 0, 0.0) !important;
}

.keyboard-icon {
    padding: 0 1em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
	line-height: 1;
}

.button-a {
}

.button-q {
	margin-left: 70px;
}

.key-stop {
	width: 78px;
}

.key-enter {
}
.key-help {
	width: 35px;
}

.key-delete {
    background-image: url(../media/icons/keys/key_icon_delete.png);
    height: 23px;
   	background-position: center 0px;
}

.key-space {
    background-image: url(../media/icons/keys/key_icon_space.png);
	height: 100%;
	background-size: auto 12px;
	background-position: center center;
	width: 228px;
}