main {
    display: block;
    position: absolute;
    width:$screenWidth;
    height:$screenHeight;
    top:50%;
    left:50%;
    margin:-384px 0 0 -512px;
    background:url('../media/moods/sbb_bombardier.png');
    background-size:cover;
}


header.sbb-header {
    margin-top: 18px;
    height:19px;
    background:url('../media/Logo_SBB_weiss_transparent.png') no-repeat;
    background-position: center right;
    background-size:auto 19px;

    span[clock] {
        text-align: center;
        display: block;
        width: 100%;
        line-height: 19px;
        @extend .text-shadow;
    }
}

footer.sbb-footer {
    width: $screenWidth;
    height:64px;
    position:absolute;
    bottom: 0;
    left: 0;
    background: rgba(86,98,115,0.90);
}