main {
    display: block;
    position: absolute;
    width:$screenWidth;
    height:$screenHeight;
    top:50%;
    left:50%;
    margin:-384px 0 0 -512px;
    background:url('../media/moods/sbb_wetzikon.png');
    // background:url('../media/moods/sbb_2012.png');
    background-size:cover;
    overflow: hidden;
}


header.sbb-header {
    margin-top: 18px;
    height:19px;
    background:url('../media/Logo_SBB_weiss_transparent.png') no-repeat;
    background-position: center right;
    background-size:auto 19px;

    span[clock] {
        text-align: center;
        display: block;
        width: 100%;
        line-height: 19px;
        @extend .text-shadow;
    }
}

footer.sbb-footer {
    width: $screenWidth;
    height:64px;
    position:absolute;
    bottom: 0;
    left: 0;
    background: rgba(86,98,115,0.90);
}

// Scale
.animate-split {
    position: absolute;
    left: 0;
    right: 0;
    &, .animate-split-left, .animate-split-right {
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
        transition:all .5s ease-in-out;
    }
    .animate-split-left {
        position: absolute;
        left: 0;
    }
    .animate-split-right {
        position: absolute;
        right: 0;
    }
}

.animate-split.ng-enter,
.animate-split.ng-leave {
    position: absolute;
}

.animate-split.ng-enter {
    opacity: 0;
    .animate-split-left {
        -webkit-transform:translate3d(-512px, 0, 0);
        -moz-transform:translate3d(-512px, 0, 0);
        transform:translate3d(-512px, 0, 0);
    }
    .animate-split-right {
        -webkit-transform:translate3d(512px, 0, 0);
        -moz-transform:translate3d(512px, 0, 0);
        transform:translate3d(512px, 0, 0);
    }
}
.animate-split.ng-enter-active {
    opacity: 1;
    .animate-split-left {
        -webkit-transform:translate3d(0, 0, 0);
        -moz-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
    .animate-split-right {
        -webkit-transform:translate3d(0, 0, 0);
        -moz-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
}
.animate-split.ng-leave {
    opacity: 1;
    .animate-split-left {
        -webkit-transform:translate3d(0, 0, 0);
        -moz-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
    .animate-split-right {
        -webkit-transform:translate3d(0, 0, 0);
        -moz-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
}
.animate-split.ng-leave-active {
    opacity: 0;
    .animate-split-left {
        -webkit-transform:translate3d(-512px, 0, 0);
        -moz-transform:translate3d(-512px, 0, 0);
        transform:translate3d(-512px, 0, 0);
    }
    .animate-split-right {
        -webkit-transform:translate3d(512px, 0, 0);
        -moz-transform:translate3d(512px, 0, 0);
        transform:translate3d(512px, 0, 0);
    }
}
